<div class="row">
    <div class="col-lg-8 col-md-12">
        <nb-card>
            <nb-card-header class="d-flex justify-content-between align-items-center">
                <h6>
                    Sale List
                </h6>
                <nb-select [placeholder]="'Items Per Page'" [(selected)]="numberOfItem"
                    (selectedChange)="numberOfItemsChange()">
                    <nb-select-label>
                        Number Of Item: {{ numberOfItem }}
                    </nb-select-label>
                    <nb-option value="10">10</nb-option>
                    <nb-option value="20">20</nb-option>
                    <nb-option value="50">50</nb-option>
                </nb-select>
            </nb-card-header>
            <nb-card-body>
                <ng2-smart-table 
                    [settings]="settings" [source]="source"
                    [ngClass]="'smart-table'"
                    (userRowSelect)="onRowSelect($event)">
                </ng2-smart-table>
            </nb-card-body>
            <nb-card-footer>
                <ng-container *ngIf="selectedSales.length > 0">
                    <ngx-products-sale-multi 
                        [selectedSales]="selectedSales"
                        (isDeleted)="onDelete($event)"
                        (isUpdated)="onUpdateStatus($event)">
                    </ngx-products-sale-multi>
                </ng-container>
            </nb-card-footer>
        </nb-card>
    </div>
    <div class="col-lg-4 col-md-12">
        <ng-container *ngIf="state === 'add'">
            <ngx-products-sale-add></ngx-products-sale-add>
        </ng-container>

        <ng-container *ngIf="state === 'edit'">
            <ngx-products-sale-edit></ngx-products-sale-edit>
        </ng-container>
    </div>
</div>

