<div class="sidebar-shop" [ngClass]="toggle ? 'sidebar-filter' : 'sidebar'">
    <div [class.sidebar-filter-wrapper]="toggle">
        <div class="widget widget-clean">
            <label>Filters:</label>
        </div>

        <div class="widget widget-collapsible">
            <h3 class="widget-title mb-2">
                <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
                    Catalog
                </a>
            </h3>

            <div class="collapse show" id="widget-1">
                <div class="widget-body pt-0">
                    <div class="filter-items filter-items-count">
                        <div class="filter-item" *ngFor="let catalog of catalogs">
                            <a [routerLink]="" [queryParams]="{catalog: catalog.catalogId}" routerLinkActive="active">
                              {{ catalog.catalogName }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="widget widget-collapsible">
          <h3 class="widget-title mb-2">
              <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
                Planting Difficulty Level
              </a>
          </h3>

          <div class="collapse show" id="widget-1">
              <div class="widget-body pt-0">
                  <div class="filter-items filter-items-count">
                      <div class="filter-item" *ngFor="let level of levels">
                          <a [routerLink]="" [queryParams]="{level: level.level}" routerLinkActive="active">
                            {{ level.level }}
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
