<nav class="main-nav">
  <ul class="menu sf-arrows">
    <li class="megamenu-container" [class.active]="current=='/'">
      <a routerLink="/">Home</a>
    </li>
    <li [class.active]="current.includes('/shop')">
      <a routerLink="/shop/sidebar/list">Shop</a>
    </li>
    <li [class.active]="current.includes('pages/about')">
      <a routerLink="/pages/about">About Us</a>
    </li>
    <li [class.active]="current.includes('pages/contact')">
      <a routerLink="/pages/contact">Contact</a>
    </li>

    <!-- <li [class.active]="current.includes('/elements')">
      <a routerLink="/elements" class="sf-with-ul">Elements</a>

      <ul>
        <li [class.active]="current.includes('elements/products')">
          <a routerLink="/elements/products">Products</a>
        </li>
        <li [class.active]="current.includes('elements/typography')">
          <a routerLink="/elements/typography">Typography</a>
        </li>
        <li [class.active]="current.includes('elements/titles')">
          <a routerLink="/elements/titles">Titles</a>
        </li>
        <li [class.active]="current.includes('elements/banners')">
          <a routerLink="/elements/banners">Banners</a>
        </li>
        <li [class.active]="current.includes('elements/categories')">
          <a routerLink="/elements/categories">Product Category</a>
        </li>
        <li [class.active]="current.includes('elements/video-banners')">
          <a routerLink="/elements/video-banners">Video Banners</a>
        </li>
        <li [class.active]="current.includes('elements/buttons')">
          <a routerLink="/elements/buttons">Buttons</a>
        </li>
        <li [class.active]="current.includes('elements/accordions')">
          <a routerLink="/elements/accordions">Accordions</a>
        </li>
        <li [class.active]="current.includes('elements/tabs')">
          <a routerLink="/elements/tabs">Tabs</a>
        </li>
        <li [class.active]="current.includes('elements/testimonials')">
          <a routerLink="/elements/testimonials">Testimonials</a>
        </li>
        <li [class.active]="current.includes('elements/blog-posts')">
          <a routerLink="/elements/blog-posts">Blog Posts</a>
        </li>
        <li [class.active]="current.includes('elements/cta')">
          <a routerLink="/elements/cta">Call to Action</a>
        </li>
        <li [class.active]="current.includes('elements/icon-boxes')">
          <a routerLink="/elements/icon-boxes">Icon Boxes</a>
        </li>
      </ul>
    </li> -->
  </ul>
</nav>
