<div class="product product-list">
  <div class="row pr-2">
    <div class="col-lg-3 col-md-3 col-6">
      <figure class="product-media">
        <span class="product-label label-new" *ngIf="product.new_">New</span>
        <span class="product-label label-sale" *ngIf="product.sale">Sale</span>
        <span class="product-label label-top" *ngIf="product.top">Top</span>


        <a [routerLink]="['/product/default/']">
          <molla-image [src]="PRODUCT_IMAGE_DIRECTORY + product.imageUrl" alt="Product" [width]="" [height]=""
            class="product-image" fixedPt="100%">
          </molla-image>
          <!-- <molla-image [src]="SERVER_URL + product.imageUrl" alt="Product" class="product-image-hover"
            *ngIf="product.sm_pictures[1]" fixedPt="100%"></molla-image> -->
        </a>
      </figure>
    </div>

    <div class="col-lg-6 col-md-6 order-last">
      <div class="product-body product-action-inner">
        <div class="product-cat">
          <span>
            <a [routerLink]="['/shop/sidebar/list']" [queryParams]="{category: product.category}">categorynaem</a>
          </span>
        </div>

        <h3 class="product-title">
          <a [routerLink]="['/product/default/'+ product.productName]">{{ product.productName }}</a>
        </h3>

        <div class="product-content">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias nesciunt minus, non porro consequatur
            architecto enim repellat commodi itaque est magnam mollitia eos quam, soluta doloremque perspiciatis
            eligendi dolores nulla?</p>
        </div>


      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-6 order-md-last order-lg-last">
      <div class="product-list-action">
        <div class="product-price">
          <span class="product-price">${{minPrice}}&ndash;${{maxPrice}}</span>
        </div>

        <!-- <ng-template #elseBlock>
          <div class="product-price" *ngIf="minPrice == maxPrice else elseBlock">${{ minPrice.toFixed(2) }}
          </div>
          <ng-template #elseBlock>
            <div class="product-price" *ngIf="product.variants.length == 0 else elseBlock">
              <span class="new-price">${{ minPrice.toFixed(2) }}</span>
              <span class="old-price">${{ maxPrice.toFixed(2) }}</span>
            </div>
            <ng-template #elseBlock>
              <div class="product-price">${{minPrice.toFixed(2)}}&ndash;${{maxPrice.toFixed(2)}}</div>
            </ng-template>
          </ng-template>
        </ng-template> -->

        <div class="ratings-container">
          <div class="ratings">
            <div class="ratings-val" [style.width]="product.avgRating * 20 + '%'"></div>
            <span class="tooltip-text">{{ product.avgRating.toFixed(2) }}</span>
          </div>
          <span class="ratings-text">( {{ product.totalRating }} Reviews )</span>
        </div>

        <div class="product-action">
          <a href="javascript:;" class="btn-product btn-quickview" title="Quick view"
            (click)="quickView($event)"><span>Quick view</span></a>
          <a href="javascript:;"  class="btn-product btn-wishlist" [class.added-to-wishlist]="isInWishlist()"
            (click)="addToWishlist($event)"><span>Wishlist</span></a>
        </div>
        <button class="btn-product btn-cart" (click)="addToCart($event)">
          <span>add to cart</span>
        </button>

      </div>
    </div>
  </div>
</div>
