<div class="product mb-0 rounded-0 w-100">
  <figure class="product-media bg-white">
    <span class="product-label label-sale" *ngIf="product.sale">
      Sale {{
        (product.productSale.productSaleType.typeName == 'Fixed' ?
        "$" + product.productSale.discount :
        product.productSale.discount + "%") }}
    </span>
    <span class="product-label label-new" *ngIf="product.new_">New</span>
    <span class="product-label label-top" style="margin-top: 2px" *ngIf="product.top">Top</span>


    <a [routerLink]="['/product/default/']">
      <molla-image [src]="PRODUCT_IMAGE_DIRECTORY + product.imageUrl" alt="Product" class="product-image">
      </molla-image>
    </a>

  </figure>

  <div class="product-body position-static bg-transparent">
    <div class="product-cat overflow-hidden my-2 mt-0 font-weight-normal">
      <span>
        <a [routerLink]="['/shop/sidebar/list']" [queryParams]="{category: product.productName}">
          {{ product.catalog.catalogName }}
        </a>
      </span>
    </div>

    <h3 class="product-title overflow-hidden letter-spacing-normal">
      <a [routerLink]="['/product/default/']">{{ product.productName }}</a>
    </h3>

    <div class="product-price font-weight-bold align-items-center d-flex mb-0">
      <ng-container *ngIf="hasOnlyOnePrice; else elseBlock">
        <ng-container *ngIf="product.productSale === null; else discountBlock">
          {{ maxPrice | currency: 'USD'}}
        </ng-container>
        <ng-template #discountBlock>
          <span style="text-decoration: line-through; font-weight: bold; color: grey">
            {{ maxPrice | currency: 'USD' }}
          </span>
          <span>
            {{ " - "}}
          </span>
          <span>
            {{
              (product.productSale.productSaleType.typeName == 'Fixed' ?
                product.minPrice - product.productSale.discount :
                product.minPrice * (1 - product.productSale.discount/100)) | currency: 'USD'
            }}
          </span>
        </ng-template>
      </ng-container>
      <ng-template #elseBlock>
        {{minPrice | currency: 'USD'}}&ndash;{{maxPrice | currency: 'USD'}}
      </ng-template>
    </div>
  </div>

  <span class="sold-text font-weight-normal text-light position-absolute" *ngIf="isShownSold">
    Sold: {{ product.totalSold }}
  </span>
  <div class="product-footer bg-white rounded-0 d-block position-absolute">
    <div class="ratings-container text-truncate">
      <div class="ratings">
        <div class="ratings-val" [style.width]="product.avgRating * 20 + '%'"></div>
        <span class="tooltip-text font-weight-normal">{{ product.avgRating.toFixed(2) }}</span>
      </div>
      <span class="ratings-text font-weight-normal">( {{ product.totalRating }} Reviews )</span>
    </div>
    <div class="product-action d-flex justify-content-center flex-column align-items-center position-relative">
      <button
        class="btn btn-product font-weight-normal text-uppercase text-truncate  btn-outline-primary-2 btn-outline-primary-2"
        (click)="addToWishlist($event)">
        <span class="border-0"><i class="icon-heart-o"></i>{{ isInWishlist() ? 'Go' : 'Add' }} to Wishlist</span>
      </button>
    </div>
  </div>
</div>
