<div [class]="'product-gallery ' + adClass">
  <div class="row m-0">
    <figure class="product-main-image">
      <span class="product-label label-sale" *ngIf="product.sale">
        Sale {{
          (product.productSale.productSaleType.typeName == 'Fixed' ?
          "$" + product.productSale.discount :
          product.productSale.discount + "%") }}
      </span>
      <span class="product-label label-new" *ngIf="product.new_">New</span>
      <span class="product-label label-top" style="margin-top: 30px" *ngIf="product.top">Top</span>


      <molla-image class="d-block position-relative"
        [src]="PRODUCT_IMAGE_DIRECTORY + product.imageUrls[currentIndex]"></molla-image>
    </figure>
  </div>
</div>
